.app-header {
  background-color: var(--clr1);
  color: var(--gray3);
  padding: 1em;
}

.app-header h1 {
  font-size: 3em;
  cursor: pointer;
}

.app-header .app-nav {
  gap: 1em;
  font-size: 2em;
}

.app-header a.active {
  color: white;
}
