.book-list {
  flex-wrap: wrap;
  gap: 1em;
}

.book-list > * {
  flex-grow: 1;
}

.book-list li {
  min-height: 100%;

  justify-content: space-between;
  padding: 1.5em;

  font-family: 'Edu VIC WA NT Beginner', cursive;
  background-color: var(--clr2);
}

.nothing-to-show {
  font-size: 3em;
}
