.book-filter {
  justify-content: space-between;
  gap: 2em;
  padding: 2em;
  background-color: var(--clr2bg);
}

.book-filter .filter-title {
  font-size: 3em;
}

.book-filter form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.book-filter form > * {
  justify-content: space-between;
}

.book-filter form > *:last-child {
  justify-self: start;
}

.book-filter .input-container {
  gap: 1em;
}

.book-filter form label {
  font-size: 2em;
}

.book-filter form input {
  font-family: inherit;
  padding: 0.3em;
  font-size: 1.5em;
}
