.user-msg {
  position: fixed;
  inset: auto 1em 1em auto;

  padding: 0.5em 1em;

  font-size: 2em;
  color: white;
  border-radius: 2px;
}

.user-msg.success {
  background-color: var(--clr2bg);
}

.user-msg.error {
  background-color: var(--clr1bg);
}

.user-msg button {
  float: right;
  margin: 1em;
}
