.book-details {
  position: relative;
  align-items: center;
  gap: 5em;

  padding: 2em;
  background-color: var(--clr1bg-light);
}

.book-details .book-title {
  background-color: var(--clr2);
  padding: 0.2em;
  font-size: 5em;
}

.book-details .sub-title {
  font-size: 3em;
}

.book-details .book-authors {
  font-size: 2em;
}

.book-details img {
  flex-grow: 1;
}

.book-details .book-desc {
  font-size: 3em;
}

.book-details .book-details-container {
  align-items: flex-start;
}

.book-details .about-book {
  margin-block-end: 1em;
}

.book-details .about-book span {
  font-size: 2em;
}

.book-details .book-price {
  width: fit-content;
  padding: 0.5em;

  font-size: 2.5em;
  background-color: var(--gray1);
}

.book-details .sale {
  width: fit-content;
  padding: 0.2em;

  font-size: 3em;
  text-transform: uppercase;
  color: white;
  background-color: red;
}

.book-details .nav-btn {
  background-color: var(--clr2);
}

.book-details .red {
  color: red;
}

.book-details .green {
  color: green;
}

.loading-msg {
  font-size: 2em;
}
